<h2>Next Steps</h2>
<h3>{{title}}</h3>
<p>{{user.name}}</p>
<p>What do you want to do next with your app?</p>


<div *ngIf="user.age < 18 ;else name ">So young</div>
<ng-template #name>
<div>
No proplem <p>{{user.name}}</p>
</div>
</ng-template>

<div *ngIf="user.age > 30">Older</div>
<br>
<input [type]='inputType' [value]= 'user.name'>
<br>
<button type="button" (click)="handler()">Click me </button>
<br>
<input [type]='inputType' [(ngModel)]="title"  >
<br>
<button (click)="user.age=user.age +1">+</button><span>{{user.age}}</span><button (click)="user.age=user.age -1">-</button>
<ul>

  <li *ngFor="let u of users; index as idx; even as even">{{u.name}} - {{u.id}}- {{u.phone}} - <br>{{idx}} <br>
  <span *ngIf="even">I am Even</span>
  </li>

<ul>
<button *ngFor="let tg of tag; last as isLast" [class.right-margin]='!isLast'>{{tg}}</button>
<br>
<div style="margin-top:20px ;">
<button style="margin-right:10px ;" (click)="isRed = !isRed" >toggle red</button>
<button (click)="isBlue = !isBlue" >toggle blue</button>
</div>

<div class="box" [class.red-border]="isRed" [class.blue-background]="isBlue"> </div>
